@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #caf6cd;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.circle:hover > ul {
  opacity: 1;
}
img {
  box-shadow: -1px -1px 35px -6px rgb(0 0 0 / 75%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  opacity: 0;
  position: absolute;
  list-style: none;
  right: -160px;
  top: -100px;
  height: 100px;
  overflow-y: scroll;
  padding: 0.5em 0.3em;
  background: white;
  border-radius: 4%;
  width: 150px;
  transition: all 0.3s;
  box-shadow: -1px -1px 5px -6px rgb(0 0 0 / 75%);
}
ul::-webkit-scrollbar {
  display: none;
}
button {
  width: 100%;
  height: fit-content;
  padding: 0.3em 2em;
  background: none;
  background-color: white;
  color: #03045e;
  border: none;
  border-radius: 4%;
  border-bottom: 1px solid #27ceb2;
  padding: 0.3em;
}
button:hover {
  background-color: #baf2e9;
  /* border:none */
}
