* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  gap: 10px;
  position: relative;
}
.text {
  display: block;
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
}
ul {
  list-style: none;
  display: inline-block;
  animation: moveUp 6s linear infinite;
  position: absolute;
  top: 0px;
  left: 40px;
}
@keyframes moveUp {
  0% {
    top: 0px;
  }
  10% {
    top: -18px;
  }
  25% {
    top: -18px;
  }
  37.5% {
    top: -36px;
  }
  50% {
    top: -36px;
  }
  62.5% {
    top: -54px;
  }
  75% {
    top: -54px;
  }
  90% {
    top: -72px;
  }
  100% {
    top: -72px;
  }
}
